body {
    padding-top: 50px;
    padding-bottom: 20px;
    background: #f6f5f3;
    height: 100%;
    overflow: visible !important;
}

body, table {
    font: 15px YandexSans,Arial,Helvetica,sans-serif;
    background: #f6f5f3;
}
a{
    color:black;
}
.panel {
    border: none;
    background-color: white;
}

.row {
    margin: 10px;
}

.search-box {
    padding-top: 10px;
}

.bootstrap-tagsinput {
    width: 100%;
}

.label {
    line-height: 2;
}


