@model MusicChart.Models.ViewModels.SingerListViewModel
@{
    ViewData["Title"] = "List";
}

@foreach(Singer s in Model.SingerList)
{
    <a asp-controller="Singer" asp-action="Singer" asp-route-id=@s.SingerId>@s.Name</a>
    <h4>@s.Description</h4>
}

