@model EntityModel.Models.ViewModels.SingerSongsViewModel
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="~/css/singer.css" rel="stylesheet" />
<link href="~/css/list.css" rel="stylesheet" />
<link href="~/css/main-info.css" rel="stylesheet" />
@*<a asp-controller="Singer" asp-action="DownloadSong" asp-route-id=@Model.Singer.SingerId asp-route-path=@s.Path class"="btn btn-info btn-lg">
    <span class="glyphicon glyphicon-download-alt"></span> Download
</a>*@
@*<a href="~/AudioFiles/@s.Path" class"="btn btn-info btn-lg">
    <span class="glyphicon glyphicon-download-alt"></span> PLay
</a>*@
<div class="blog">
    <div class="container">
        <div class="row">
            @Html.Partial("UserSection", @Model.Singer)
        </div>
        <div class="row">
            <div class="[ col-xs-12 col-sm-offset-0 col-sm-10 ]">
                <ul class="event-list">
                    @foreach (Song s in Model.SongList)
                    {
                        <li>
                            <div class="info">
                                <h2 class="title">@s.Name</h2>
                                @if(s.Path != null)
                                {
                                    <a href="~/AudioFiles/@s.Path" class"="btn btn-info btn-lg">
                                        <span class="glyphicon glyphicon-download-alt"></span> PLay
                                    </a>
                                }  
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
