@model MusicChart.Models.ViewModels.SingerAlbumsViewModel
@{
    ViewData["Title"] = "SingerAlbums";
}

<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="~/css/singer.css" rel="stylesheet" />
<link href="~/css/list.css" rel="stylesheet" />
<link href="~/css/main-info.css" rel="stylesheet" />

<div class="blog">
    <div class="container">
        <div class="row">
            @*<div class="col-sm-3">
                    <div class="ratio img-responsive img-circle" style="background-image: url(@Model.Singer.Photo);"></div>
                </div>*@
            <div class="col-sm-9">
                <h1>
                    <b>@Model.Singer.Name</b>
                    <a href="#facebook"><span class="fa fa-facebook"></span></a>
                    <a href="#twitter"><span class="fa fa-twitter"></span></a>
                    <a href="#google-plus"><span class="fa fa-instagram"></span></a>
                </h1>
                <h4>@Model.Singer.Description</h4>
            </div>
        </div>
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                    </button>
                    <a asp-controller="Singer" asp-action="Singer" asp-route-id=@Model.Singer.Name class="navbar-brand"><b>Треки</b></a>
                    <a asp-controller="Singer" asp-action="SingerAlbums" asp-route-id=@Model.Singer.Name class="navbar-brand">Альбомы</a>
                    <a asp-controller="Singer" asp-action="SimiliarSingers" asp-route-id=@Model.Singer.Name class="navbar-brand">Похожие</a>
                </div>
            </div>
        </nav>
        <div class="row">
            <div class="[ col-xs-12 col-sm-offset-0 col-sm-10 ]">
                <ul class="event-list">
                    @foreach (var album in Model.Albums)
                    {
                        <li>
                            <img alt="No image" src=@album.Image />
                            <div class="info">
                                <h2 class="title">@album.Name</h2>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>