@model MusicChart.Models.ViewModels.SingerViewModel



<h2>@Model.Singer.Name</h2>
<h3>@Model.Singer.Description</h3>
<table style="width:40%">
    <tr>
        <th><a asp-controller="Singer" asp-action="Singer" asp-route-id=@Model.Singer.SingerId><h3>Главное</h3></a></th>
        <th><a asp-controller="Singer" asp-action="SingerSongs" asp-route-id=@Model.Singer.SingerId><h3>Треки</h3></a></th>
        <th><a asp-controller="Singer" asp-action="SimiliarSingers" asp-route-id=@Model.Singer.SingerId><h3>Похожие</h3></a></th>
    </tr>
</table>

<h2>Популярные треки</h2>
@foreach (Song song in Model.SongList)
{
    <h4>@song.Name</h4>
    <h5>@song.Description</h5>
}
