@model MusicChart.Models.Singer
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<link href="~/css/singer.css" rel="stylesheet" />
<link href="~/css/list.css" rel="stylesheet" />
<link href="~/css/main-info.css" rel="stylesheet" />
@{
    ViewData["Title"] = Model.Name;
}


<div class="row">
    <div class="col-md-4">
        <div class="ratio img-responsive img-circle" style="background-image: url(@Model.Photo);"></div>
    </div>
    <div class="col-md-4">
        <h1><b>@Model.Name</b></h1>
        <h4>@Html.Raw(@Model.Description)</h4>
    </div>
</div>
<div class="row">
    <div class="container">
        <a asp-controller="Singer" asp-action="Singer" asp-route-id=@Model.SingerId>Треки</a>
        <a asp-controller="Singer" asp-action="SingerAlbums" asp-route-id=@Model.SingerId>Альбомы</a>
        <a asp-controller="Singer" asp-action="SingerSimiliar" asp-route-id=@Model.SingerId>Похожие</a>
    </div>
</div>

